* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 34, 34);
    background-image: url("../imagens/fundo2.gif");
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-board {
    background-color: rgb(34, 34, 34);
    background-image: url("../imagens/fundo\ 5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 550px;
    border: 1px solid #333;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0px;
    width: 80px;
    /*left: 450px;*/
    animation: pipe-animation 1.3s infinite linear;
}

.dino {
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 300px;
    
}

.jump {
    animation: jump 2300ms ease-out;
}

.perseguidor {
    width: 250px;
    position: absolute;
    bottom: -25px;
    left: 50px;
    
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    10% {
        bottom: 130px;
    }

    20% {
        bottom: 130px;
    }

    30% {
        bottom: 130px;
    }
    
    40% {
        bottom: 130px;
    }

    50% {
        bottom: 130px;
    }

    60% {
        bottom: 130px;
    }

    70% {
        bottom: 130px;
    }

    80% {
        bottom: 130px;
    }

    90% {
        bottom: 130px;
    }

    100% {
        bottom: 0;
    }
}